<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>doT</title>
</head>
<body>
<h2>engine: {{= it.engine }}</h2>

<ul>
    {{~it.items :value:index}}
        <li>
            <table width="100%" class="table" border="1" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="5%">Index</th>
                    <th width="10%">ID</th>
                    <th width="15%">Name</th>
                    <th width="10%">Stars</th>
                    <th width="10%">Forks</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>{{=index + 1 }}</td>
                    <td>{{=value.id}}</td>
                    <td><a href="{{=value.html_url}}">{{=value.name}}</a></td>
                    <td>{{=value.stargazers_count}}</td>
                    <td>{{=value.forks}}</td>
                    <td>{{=value.description}}</td>
                </tr>
            </table>
        </li>
    {{~}}
</ul>
</body>
</html>